---
title: Wiedergabe-API
parent: Home
description: '<p>Die Wiedergabe-API wird verwendet, um Video- und Wiedergabelistendaten von Video Cloud abzurufen. Es wird normalerweise verwendet, um Videodaten an einen Player auf einer Webseite oder in einer mobilen App zu übertragen.&nbsp;Die Playback API ist eine API mit niedriger Latenz, die für die clientseitige Verwendung beim Abrufen von Video- oder Playlist-Daten von Webseiten oder mobilen Apps vorgesehen ist. Es handelt sich nicht um eine allgemeine Medienverwaltungs-API, die Sie bei der Integration von Video Cloud in Ihr CMS oder andere Systeme verwenden können – dafür sollten Sie die <a href="/cms/index.html">CMS-API</a>.</p>

<p>Die Authentifizierung für die Playback-API erfordert einen Richtlinienschlüssel, den Sie über die<a href="/policy/index.html"> Richtlinien-API</a> oder <a href="/policy/getting-started/policy-keys.html">von einem Spieler</a> in deinem Account.</p>'
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">
  <div style="width: 100%;">
      <div style="width: 35%;vertical-align: top;display: inline-block;"><div data-experience="5be4439bb5cd1c00106dc3f5" data-video-ids="6004281287001">&nbsp;</div>
        <script src="https://players.brightcove.net/20318290001/experience_5be4439bb5cd1c00106dc3f5/live.js"></script></div>
      <div style="display: inline-block; width: 55%;"><summary style="display: block;">{{ page.description }}</summary></div>
  </div>
    
  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %} {% endif %} {% endfor %}
  </section>
</article>