---
title: OAuth-API
parent: Home
description: '<p>Die Brightcove-Implementierung von <a href="http://oauth.net/2/">OAuth2</a>&nbsp;ermöglicht es Ihnen, Zugriffstoken für verschiedene Brightcove-APIs zu erhalten.</p>
<p>Die Brightcove-Implementierung besteht aus zwei Teilen:</p>
<ul>
  <li>Die OAuth-API – bietet Zugriff auf alle verfügbaren OAuth-Funktionen.</li>
  <li>Die Benutzeroberfläche für OAuth-Anmeldeinformationen – auf die über die Kontoeinstellungen-Benutzeroberfläche in Studio zugegriffen werden kann, bietet die Benutzeroberfläche eine einfache Möglichkeit, Apps zu registrieren, die Brightcove-APIs verwenden, und eine Client-ID und ein Client-Geheimnis für sie zu generieren. Sehen <a href="/general/managing-api-authentication-credentials.html">Anmeldeinformationen für die API-Authentifizierung verwalten</a> Anweisungen zur Verwendung der OAuth-Benutzeroberfläche.</li>
</ul>'
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>
  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %} {% endif %} {% endfor %}
  </section>
</article>